{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h3>Your Expenses</h3>
    <a href="{% url 'expense-add' %}" class="btn btn-success">Add Expense</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.title }}</td>
            <td>₹ {{ expense.amount }}</td>
            <td>{{ expense.category.name }}</td>
            <td>{{ expense.expense_date }}</td>
            <td>
                <a href="{% url 'expense-edit' expense.id %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'expense-delete' expense.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No expenses yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}